/* 顶部导航栏标题、图标的字体、颜色、大小*/
#site_social_icons .social-icon {font-size: 200%}
/*首页中间标题、副标题，社交图标，正片叠底遮罩*/
#page-header #site-subtitle{font: normal 180%}
span#subtitle {color: #ffffffcc;font-size: 90%;margin-top: 20px}
#page-header #site_social_icons{margin-top: 60px}
#page-header:not(.not-top-img):before {background-color: rgba(0,0,0,.05)}
/*背景颜色，夜间模式卡片、阴影、引用块、标签、链接、分割线、表格、目录、版权声明、移动端导航栏、标签字体配色，伪类遮罩层透明*/
#web_bg{background: linear-gradient(to bottom, #fafbfd, #e0eafc)}
#footer-wrap{background-color: #e4edff}
[data-theme="dark"] #web_bg{background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%)}
[data-theme="dark"] #footer-wrap{background-color: #1a1b29}
[data-theme="dark"] #recent-posts .recent-post-item:hover{box-shadow: 0 3px 8px 6px rgba(186, 186, 189, 0.2)}
[data-theme='dark'] table th,[data-theme='dark'] table td{border: 1px solid rgba(184, 184, 199, .3)}
[data-theme="dark"] .post-copyright {background-color: #00000000;text-shadow: #bfbeb8 1px 0 4px}
[data-theme="dark"] .post-copyright-info {color: #e0e0e4}
[data-theme="dark"] #page-header::before{background: transparent!important}
/*搜索样式，页码按钮图标样式，引用样式，版权声明样式*/
#pagination .page-number.current,#pagination .page-number.current:hover{background: #6e8fe7;border-radius: 2em;color: #fff;display: inline-block;width: 2em;height: 2em;line-height: 2em}
a.extend.next,a.extend.prev{padding:2px 0 0 .4em}
/*页脚自定义字段字体、颜色、大小*/
[data-theme='dark'] #footer-wrap,[data-theme='dark'] #footer-wrap a{color: #f0f3ffc9}
.footer_custom_text {color: #F4BB84}
.footer-data{font-size: 70%}
/* 顶栏，内容，代码，评论版本位置&颜色 */
.vpower.txt-right{
  color: rgba(167, 167, 167, 0.6);
  text-align: left;
}
/*标题图标，分类图标，分享图标；文章页上下篇样式，标题样式*/
#article-container.post-content h1:hover:before, #article-container.post-content h2:hover:before, #article-container.post-content h3:hover:before, #article-container.post-content h4:hover:before, #article-container.post-content h5:hover:before, #article-container.post-content h6:hover:before {
  margin-left:-2rem;
}
.after .recent{color: #9dafff;}
.relatedPosts > .headline,#post-comment .comment-head{text-align: center}
.post-meta-categories{font-size: 110%;color: #667eea;}
/*外链按钮、折叠标签、分栏标签，mark荧光笔颜色，注释字大小，链接卡片样式*/
.button--animated{transition: all .4s ease !important}
#article-container .btn-beautify{background-color: #cad5ffeb;color: #07080a;border-radius: 3px}
[data-theme='dark'] #article-container .btn-beautify{background-color: #07080a}
.hide-inline .hide-button,.hide-block .hide-button{
  background: #667eea6e;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
mark{background-color: rgba(255, 241, 187, .6)}
.img-alt.is-center{font-size: 15%}
.img-alt{color: #00000000}
.note:not(.no-icon)::before{top:calc(6% - .5em);right:.8em}
/* 全局默认，悬停图片，悬停页码的光标*/
body,html{cursor: url('https://cdn.jsdelivr.net/gh/waldenlak/Art/imgs/BibataModBlue/Arrow.cur'),auto !important;}
img{cursor: url('https://cdn.jsdelivr.net/gh/waldenlak/Art/imgs/BibataMod Light+Sm/Cross.cur'),auto !important;}
#pagination .page-number:hover{cursor: url('https://cdn.jsdelivr.net/gh/waldenlak/Art/imgs/BibataMod Light+Sm/UpArrow.cur'),auto;color: var(--font-color);}
/* 悬停外链&链接卡片、站内链接标签时的光标 */
a:hover,#article-container a.link-card:hover{
    cursor: url('https://cdn.jsdelivr.net/gh/waldenlak/Art/imgs/BibataMod Light+Sm/Hand2.cur'),auto;
}
#recent-posts .recent-post-item .recent-post-info .article-title:hover,#aside-content #card-toc .toc-content .toc-link:hover,a.post-meta-categories:hover,#recent-posts > .recent-post-item >.recent-post-info > .article-meta-wrap a:hover{
    cursor: url('https://cdn.jsdelivr.net/gh/waldenlak/Art/imgs/BibataModBlue/Hand2.cur'),auto;
}
/* 选中输入框时的光标 */
input:hover{
    cursor: url('https://cdn.jsdelivr.net/gh/waldenlak/Art/imgs/BibataModBlue/Handwriting.cur'),auto;
}
/* 悬停按钮、导航&菜单&列表的图标标签时的光标 */
button:hover,#rightside div button,#rightside div a,#page-header #scroll-down:hover,i:hover,i.fas.fa-angle-down.scroll-down-effects:hover{
    cursor: url('https://cdn.jsdelivr.net/gh/waldenlak/Art/imgs/BibataModBlue/Hand.cur'),auto;
}
#nav #site-name:hover{
    cursor: url('https://cdn.jsdelivr.net/gh/waldenlak/Art/imgs/BibataMod Light+Sm/Hand.cur'),auto;
}
/* 悬停菜单栏&tabs&首页磁贴&正文链接时的光标 */
#nav .site-page:hover,#article-container .tabs .nav-tabs .tab:not(.active) button:hover,a.categoryBar-list-link:hover,.post .tag_share .post-meta__tags:hover{
      cursor: url('https://cdn.jsdelivr.net/gh/waldenlak/Art/imgs/BibataModBlue/Copy.cur'),auto;
}
/* 打赏 */
.post-reward .reward-button {
  cursor: url('https://cdn.jsdelivr.net/gh/waldenlak/Art/imgs/BibataModBlue/SizeAll2.cur'),auto;
}
/* 文章标签 */
.layout_post .tag_share .post-meta__tags {
  cursor: url('https://cdn.jsdelivr.net/gh/waldenlak/Art/imgs/BibataModBlue/Help.cur'),auto;
}