@font-face {
  font-family: "iconfont"; /* Project id 2745648 */
  src: url('//at.alicdn.com/t/font_2745648_u5xv388sed8.woff2?t=1629641677439') format('woff2'),
       url('//at.alicdn.com/t/font_2745648_u5xv388sed8.woff?t=1629641677439') format('woff'),
       url('//at.alicdn.com/t/font_2745648_u5xv388sed8.ttf?t=1629641677439') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibiaoti-1:before {
  content: "\e615";
}

.icon-tags:before {
  content: "\e604";
}

.icon-guanjianci:before {
  content: "\e6cb";
}

.icon-shu-moxing:before {
  content: "\e605";
}

.icon-shumiao-32:before {
  content: "\e62b";
}

.icon-zhifeiji:before {
  content: "\e617";
}

.icon-huaban:before {
  content: "\e66a";
}

.icon-forward:before {
  content: "\e609";
}

.icon-hongcha:before {
  content: "\e603";
}

.icon-Paperclip:before {
  content: "\e67a";
}

.icon-rekafei-yuanxingbei-panzishang-congcemiankan:before {
  content: "\e639";
}

.icon-icon-test:before {
  content: "\e6c2";
}

.icon-attach:before {
  content: "\e60b";
}

.icon-biaoqian:before {
  content: "\e6f8";
}

.icon-bilibili:before {
  content: "\e601";
}

.icon-yinfu:before {
  content: "\e6f5";
}

.icon-yanchupiao:before {
  content: "\e624";
}

.icon-shijianzhou:before {
  content: "\e600";
}

.icon-shu:before {
  content: "\e70a";
}

.icon-shujia1:before {
  content: "\e602";
}

i.iconfont.icon-bilibili{
  font-size: 22px;
}
i.iconfont.icon-huaban{
  font-size: 20px;
}