if hexo-config('categoryBar.enable')
  #categoryBar
    width 100%!important
    background #ffffff00
    box-shadow none
  ul
    &.categoryBar-list
      margin 5px 5px 0 5px!important
      padding 0!important

  li
    &.categoryBar-list-item
      display inline-block
      height 90px!important
      margin 2px .5% 0 .5%!important
      background-image linear-gradient(rgba(0, 0, 0, 0.2) 25%, rgba(16, 16, 16, 0) 100%)
      border-radius 10px
      padding-top .2em
      padding-left 1.5em
      box-shadow rgba(50, 50, 50, 0.1)  50px 50px 50px 50px inset
      overflow hidden
      background-size 100%!important
      background-position center!important
      &:hover
        background-size 110%!important
        transition all 0.6s
        box-shadow inset 500px 50px 50px 50px rgba(50,50,50, .4)
        span
          &.categoryBar-list-count
            &::before
              transition all .5s
              transform translate(-100%, 0)
  a
    &.categoryBar-list-link
      display block!important
      color white!important
      font-size 27px!important
      font-weight bold
      letter-spacing .7px
      &::before
        content ''!important
        color #ffffffeb!important
        font-size 20px!important
      position relative
      left -1px
      &:hover
        &::before
          transform translateX(2px)
          transition all 0.2s ease-out
      &:after
        content ''
        position relative
        width 0
        bottom 0
        display none
        height 2px
        border-radius 3px
        background-color rgba(255, 255, 255, .5)
      &:hover
        &:after
          width 90%
          left 1%
          transition all 0.5s

  span
    &.categoryBar-list-count
      color  #ffffffeb!important
      font-size 17px!important
      font-weight lighter
      position relative
      top -13%
      left 0
      &::before
        display block!important
        color  #ffffffeb!important
        font-size 18px!important
        position relative
        right -100%
  covers = hexo-config('categoryBar.cover')
  for cover,i in covers
    li.categoryBar-list-item:nth-child({i+1})
      background unquote(cover)
  descrs = hexo-config('categoryBar.descr')
  for descr,i in descrs
    li.categoryBar-list-item:nth-child({i+1})>span::after
      content descr!important
  if hexo-config('categoryBar.column') == 'odd'
    li
      &.categoryBar-list-item
        width 32.3%!important
  else if hexo-config('categoryBar.column') == 'even'
    li
      &.categoryBar-list-item
        width 24%!important
  @media screen and (max-width: 650px)
    li
      &.categoryBar-list-item
        width 48%!important
        height 150px!important
        margin 5px 1% 0 1%!important

  $caterow =  hexo-config('categoryBar.row')?hexo-config('categoryBar.row'):2
  .categoryBar-list
    max-height 190px * $caterow
    overflow auto
    &::-webkit-scrollbar
      width 0!important
  @media screen and (max-width: 650px)
    .categoryBar-list
      max-height 160px * $caterow
