#body-wrap
  display: flex
  flex-direction: column
  min-height: 100vh

.layout
  display: flex
  flex: 1 auto
  justify-content: center
  margin: 0 auto
  padding: 60px 0 0
  width: 100%

  +maxWidth900()
    flex-direction: column

  +maxWidth768()
    padding: 20px 5px

  +minWidth2000()
    max-width: 900em

  & > div:first-child:not(.recent-posts)
    padding: 0

    +maxWidth768()
      padding: 36px 14px

  & > div:first-child
    transition: all .3s

    +maxWidth900()
      width: 100% !important

    if hexo-config('aside.position') == 'left'
      +minWidth900()
        order: 2

  // 隱藏aside
  &.hide-aside
    max-width: 1000px

    +minWidth2000()
      max-width: 1300px

    & > div
      width: 100% !important

.content-inner
  @extend .cardHover
  display: flex
  flex: 1

.post,
.pag,
.com
  align-self: center
  flex: 1

.aside-content
  flex: 0 0 15%

.wid
  flex: 0 0 15%
  float: right
  left: 0
  order: 3
  position: sticky
  position: -webkit-sticky
  width: 15%

.after
  margin: 0 auto
  max-width: 1000px
  width: 100%

  +maxWidth900()
    flex-direction: column

  +maxWidth768()
    padding: 20px 5px

  +minWidth2000()
    max-width: 1500px

// for apple device
.apple
  #page-header.full_page
    background-attachment: scroll !important

  .recent-post-item
    transform: translateZ(0)
