#mobile-sidebar
  #menu_mask
  #mobile-sidebar-menus
    .avatar-img.is-center
      img(src=url_for(theme.avatar.img) onerror=`onerror=null;src='${theme.error_img.flink}'` alt="avatar")
    !=partial('includes/header/menu_item', {}, {cache: true})